#numbers {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#numbers > li {
  margin-right: 0.3em;
  color: black;
  user-select: none;
  cursor: pointer;
}

#paging-numbers {
  list-style: none;
  display: flex;
}

#paging-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}
